<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=1980, initial-scale=1.0" />
    <title>Status API Open Banking Brasil</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css" integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w==" crossorigin="anonymous"/>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/index.css') }}"
    />
  </head>
  <body>
    <div class="container-xl">
      <div class="d-flex justify-content-between align-items-center">
        <h1 class="text-center my-5">Status APIs Open Finance Brasil</h1>
        <div class="author d-flex align-items-center justify-content-around">
          <img src="https://avatars.githubusercontent.com/u/49921028?v=4" alt="" class="avatar">
          <div class="author-info">
            <p>Criado por: <br><a href="https://github.com/alexandremulina" target="_blank">Alexandre Mulina</a></p>
            <div class="social d-flex justify-content-between align-items-center">
              <a href="https://www.linkedin.com/in/alexandre-mulina-ab7b56136/" target="_blank"><i class="fab fa-linkedin"></i></a>
              <a href="https://www.facebook.com/AlexandreMulina" target="_blank"><i class="fab fa-facebook-square"></i></a>
              <a href="https://github.com/alexandremulina" target="_blank"><i class="fab fa-github-square"></i></a>
            </div>
          </div>
        </div>
      </div>
      <p class="info-text">Abaixo estão listadas todas Instituições Transmissoras de Dados registradas no Diretório do <a href="https://openbankingbrasil.org.br/" target="_blank">Open Finance Brasil</a>. Para ter acesso ao status de uma API em específico, clique na instituição e obtenha maiores informações sobre cada endpoint. Esta simples aplicação foi desenvolvida com intuíto de prover mais transparência aos usuários finais e instituições consumidoras de dados sobre o estado atual de cada API.</p>
      
      <div class="search-form-control form-group my-4">
        <input class="form-control string required" type="text" id="search_query"/>
        <button name="button" class="btn btn-flat" onclick="searchBank()" >
          <i class="fas fa-search"></i> &nbsp; Buscar
        </button>
      </div>
      
      {% for bank in content:%}
      <div class="bank-card">
        <ul>
          <div class="bank-info">
            <li class="bank-name truncate">{{bank["name"]}}</li>
            <li class="bank-status">Status de Registro: <span data-bank-status="{{bank["status"].lower()}}">{{bank["status"]}}</span></li>
            <i class="fas fa-chevron-right"></i>
          </div>
          <ul class="api-resources truncate d-none">
            {% for api_resource in bank["api_resources"]: %}
              {% for key, value in api_resource.items(): %}
                <li>{{key}}</li>
                <li>{{value}}</li>
            {% endfor %}{% endfor %}
          </ul>
        </ul>
      </div>
      {% endfor %}
    </div>
  </body>
  <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>
